/* @tailwind base; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
  color: rgb(183, 111, 111);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
  background-image: url('../resources/example_texture.jpg');
  background-color: rgba(225, 225, 225, 0.8);
  background-blend-mode: lighten;
}
